**/DinoAdventure/Logs
**/DinoAdventure/Library
**/DinoAdventure/.vs
**/DinoAdventure/Temp
**/DinoAdventure/*.csproj
*.csproj
**/DinoAdventure/AppleAuth.Editor.csproj
**/DinoAdventure/UserSettings
**/DinoAdventure/*.vsconfig
**/DinoAdventure/*.log
**/DinoAdventure/*.sln
**/DinoAdventure/DinoAdventure.sln
**/DinoAdventure/obj